{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<form enctype="multipart/form-data" method="POST" id="employeeform" >
    {% csrf_token %}
    {{form.media}}
    <div class="pd-50 pd-sm-60 bg-white wd-xl-70p" style="margin: 0 auto;">
        <div class="row row-sm">

            <div class="col-lg-4 mg-t-20 mg-lg-t-0 text-left">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn" name="nav-button" value="first" formnovalidate>
                        <span class="fa fa-fast-backward"></span></button>
                    <button type="submit" class="btn btn" accesskey="p" name="nav-button" value="backward" formnovalidate>
                        <span class="fa fa-step-backward"></span></button>
                </div>
              </div><!-- col-2 -->
              <div class="col-lg-4 mg-t-20 mg-lg-t-0 text-center">
                <h4 class="text-center" style="font-weight: bolder;">Employee Form</h4>
              </div>
              <div class="col-lg-4 mg-t-20 mg-lg-t-0 text-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn" accesskey="n" name="nav-button" value="forward" formnovalidate>
                        <span class="fa fa-step-forward"></span></button>
                    <button type="submit" class="btn btn" name="nav-button" value="last" formnovalidate>
                        <span class="fa fa-fast-forward"></span></button>
                </div>
              </div>

        </div>
        &nbsp;
        <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-2">
                    <label class="form-label mg-b-0">Emp No</label>
                </div><!-- col -->
                <div class="col-md-2">
                   {{form.employee_no}}
                </div><!-- col -->
                <div class="col-md-4 mg-t-5 mg-md-t-0">
                    {{form.first_name}}
                </div><!-- col -->   
                <div class="col-md-4 mg-t-5 mg-md-t-0">
                    {{form.other_name}}
                </div><!-- col -->

        </div><!-- row -->
        <div class="row row-xs align-items-center mg-b-20">
                <div class="col-md-2">
                    <label class="form-label mg-b-0">ID No</label>
                </div><!-- col -->
                <div class="col-md-4 mg-t-5 mg-md-t-0">
                    {{form.national_id}}
                </div><!-- col -->

                <div class="col-md-2">
                    <label class="form-label mg-b-0">PIN No</label>
                </div><!-- col -->
                <div class="col-md-4 mg-t-5 mg-md-t-0">
                    {{form.pin_no}}
                </div><!-- col -->

        </div><!-- row -->
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-2">
                <label class="form-label mg-b-0">NSSF  No</label>
            </div><!-- col -->
            <div class="col-md-4 mg-t-5 mg-md-t-0">
                {{form.nssf_no}}
            </div><!-- col -->

            <div class="col-md-2">
                <label class="form-label mg-b-0">NHIF No</label>
            </div><!-- col -->
            <div class="col-md-4 mg-t-5 mg-md-t-0">
                {{form.nhif_no}}
            </div><!-- col -->

        </div><!-- row -->
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-2">
                <label class="form-label mg-b-0">Date Of Joining</label>
            </div><!-- col -->
            <div class="col-md-4 mg-t-5 mg-md-t-0">
                {{form.date_of_joining}}
            </div><!-- col -->

            <div class="col-md-2">
                <label class="form-label mg-b-0">Date Of Leaving</label>
            </div><!-- col -->
            <div class="col-md-4 mg-t-5 mg-md-t-0">
              {{form.date_of_leaving}}
            </div><!-- col -->
        </div><!-- row -->
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-2">
                <label class="form-label mg-b-0">Working Hours</label>
            </div><!-- col -->
            <div class="col-md-10 mg-t-5 mg-md-t-0">
               {{form.work_hours_code}}
            </div><!-- col -->           
        </div><!-- row -->
        <div class="row row-xs align-items-center mg-b-20">
            <div class="col-md-2">
                <label class="form-label mg-b-0">Basic Salary</label>
            </div><!-- col -->
            <div class="col-md-3 mg-t-5 mg-md-t-0">
                {{form.basic_salary}}
            </div><!-- col -->
            <div class="col-md-3">
                <label class="form-label mg-b-0">House Allowance Rate</label>
            </div><!-- col -->
            <div class="col-md-4 mg-t-5 mg-md-t-0">
                {{form.house_allowance_rate}}
            </div><!-- col -->
        </div><!-- row -->
        <input  class="btn btn-az-primary pd-x-30 mg-r-5"  type="submit" value="Update"/>
        <a href="{% url 'employees:employee-create' %}"  class="btn btn-dark pd-x-30">Cancel</a>

              
    </div>
</form>

{%endblock%}